* {
  box-sizing: border-box;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  max-height: 1000px;
}

h1 {
  color: #141218;
}

.search_bar{
  width:40%;
  margin: auto;
}

#prompt{
  margin-top: 20px;
  margin-bottom: 20px;
  padding:0.5em;
  width: 100%;
  border: grey solid 1px;
  border-radius: 5px;
}

.photo_container {
  display: flex;
  width: 100%;
  padding: 2em;
  margin: auto;
  max-width: 980px;
  background-color: black;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-evenly;
}

row_1, row_2, row_3 {
width: 100%;
display: block;
padding: 1em;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

img {
  display: block;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


/* Media Queries */
@media (min-width: 768px) {
  .photo_container {
   flex-direction: row;
  }


  row_1, row_2, row_3 {
    display: inline-block;
    justify-content: space-between;
    flex-basis: 20%;
  }

  img {
    display: inline-block;
    flex-wrap: wrap;
    width: 25%;

  }

}
